Applied_wpf4_Context/Chapter04/TimeTrackerPrototype/TimeTrackerPrototype/TimeTrackerPrototypeScreens/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Top10" type="tns:Top10" />
      <xs:element name="Employees" type="tns:Employees" />
      <xs:element name="Employee" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Top10">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Top10Item" type="tns:Top10Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Top10Item">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Employees">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="EmployeesItem" type="tns:EmployeesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmployeesItem">
    <xs:attribute blend:Format="Company Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute blend:Format="Company Name" name="Company" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Employee">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute blend:Format="Address" name="Address" type="xs:string" />
    <xs:attribute blend:Format="Phone Number" name="Phone" type="xs:string" />
    <xs:attribute blend:Format="Company Name" name="Company" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="Web" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Photo" type="xs:double" />
  </xs:complexType>
</xs:schema>